<div class="container">
    <div class="jumbotron" style="background-color: aquamarine">
      <h3>Welcome to</h3>
      <h1>Truc's Restaurant</h1>
      <hr class="intro-divider">
      <a class="btn btn-primary btn-lg" href="/menus" role="button">Menu</a> <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Us</a></p>
    </div>
</div>