<div class="container">
  <a name="contact"></a>
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <address>
            <strong>Truc Le's Restaurant.</strong><br>
            72 Le Thanh Ton<br>
            District 1, Ho Chi Minh City, Vietnam<br>
            <abbr title="Phone">P:</abbr> (84) 90 674 8189
          </address>
        </div>
        <div class="col-lg-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4311189600057!2d106.69983921417172!3d10.778255362108709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f47d9c0e9b5%3A0x7bfa14b8cae00060!2zNzIgTMOqIFRow6FuaCBUw7RuLCBC4bq_biBOZ2jDqSwgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1457892051338" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>